@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #0d253f;
  --light-background: #ffffff;
  --light-text-color: #ffffff;
  --dark-text-color: black;
}

body {
  color: var(--dark-text-color);
  background: var(--light-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
